@import 'reset';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
  font-family: "Dreamwood";
  src: url("../fonts/Dreamwood.ttf") format("truetype");
}

$main-color: #222;

body {
  overflow: hidden;
}

body,
button,
input,
select,
textarea {
  font-family: 'PT Sans';
}

.big-header {
  background-color: $main-color;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;

  & h1 {
    font-size: 18px;
    line-height: 150%;
    max-width: 60%;
    text-align: justify;
  }
}

.button {
  margin: 15px;
  cursor: pointer;
  color: $main-color;
  text-decoration: none;
  background: white;
  padding: 8px;
  border-radius: 5px;
  display: inline-block;
  border: none;

  &.green {
    background-color: green;
  }
  &.red {
    background-color: red;
  }
}


.characters, .choices {
  display: flex;
}

.user-state {
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 16px;

  .golds::before, .health::before {
    transform: translateY(4px);
    content: "";
    margin-top: 12px;
    margin-right: 6px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-position: cover;
    background-size: cover;
  }

  .golds::before {
    background-image: url(../img/coins.png);
  }
  .health::before {
    background-image: url(../img/hp.png);
  }
}

.user-stats {
  position: absolute;
  text-align: right;
  top: 16px;
  right: 16px;
  line-height: 125%;

  span {
    font-weight: bold;
    margin-left: 5px;
  }
}

.stat-change {
  margin-top: 25px;
  font-weight: bold;
  text-align: center;

  & div {
    margin-top: 10px;
  }
}

.luck {
  color: #27ae60;
}
.power {
  color: orange;
}
.health {
  color: #e74c3c;
}
.speed {
  color: #D2B48C;
}
.gold {
  color: yellow;
}